<div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo"><a href="#" class="simple-text logo-normal">
            Manage A BookStore
        </a></div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item {{#if active_dashboard}}active{{/if}}">
                <a class="nav-link" href="/dashboard">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item {{#if active_books}}active{{/if}}">
                <a class="nav-link" href="{{#if currentUser}}/table_books{{else}}#{{/if}}">
                    <i class="material-icons">content_paste</i>
                    <p>Books List</p>
                </a>
            </li>
            <li class="nav-item {{#if active_users}}active{{/if}}">
                <a class="nav-link" href="{{#if currentUser}}/users/table_users{{else}}#{{/if}}">
                    <i class="material-icons">account_box</i>
                    <p>Users List</p>
                </a>
            </li>
        </ul>
    </div>
</div>