body {
  padding: 50px;
  font: sans-serif;
}

a {
  color: #00B7FF;
}

.form_edit{
  display: flex;
}

.form_edit .label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form_edit .input {
  color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
}

.form_edit .input input {
  border-radius: 5px;
  width: 70%;
  border: none;
}