body {
  padding: 50px;
  font: sans-serif;
}

a {
  color: #00B7FF;
}

.form_edit{
  display: flex;
  
}

.form_edit .label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form_edit .label label {
  margin: 5px 0;
}

.form_edit .input {
  color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
}

.form_edit .input input {
  color: #212121;
  border-radius: 3px;
  width: 70%;
  border: none;
  height: 40px;
  margin: 5px 0;
}
